.n-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-white);
    padding: 1rem;
    background-color: #19173A;
    margin-bottom: 12px;
    cursor: pointer;
}