.staking-container {
    padding: 20px 40px;
    color: white;

    .main {
        margin-bottom: 16px;
    }

    .pink-font {
        color: #F001F4;
    }

    &-title {
        font-size: 40px;
        margin-bottom: 16px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        &-top {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 4px solid #2A2864;
            margin-bottom: 16px;
            padding: 16px;

            .title {
                padding-bottom: 8px;
            }

            .stake-component {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                background: #322C76;
                padding: 8px 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title {
                    display: flex;
                    align-items: center;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                }
                
                .info {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 16px;
                    border: 4px solid #2A2864;
                }
            }
            
            .lock-component {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding: 8px 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .title {
                    display: flex;
                    align-items: center;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                }
                
                .info {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0;
                    @media only screen and (min-width: 0px)
                    {
                        flex-wrap: wrap;
                    }
                    @media only screen and (min-width: 768px)
                    {
                        flex-wrap: nowrap;
                    }
                    .item {
                        width: 50px;
                        height: 50px;
                        border: 4px solid #2A2864;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .explain-component {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-between;
                padding: 24px 0;

                .left {
                    font-size: 14px;
                }

                .right {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        margin-left: 8px;
                    }
                }
            }
        }

        &-bottom {
            padding: 16px;
            display: flex;
            flex-direction: column;
            border: 4px solid #2A2864;
            padding: 16px;

            .button-group {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                flex-wrap: wrap;
                .button {
                    margin-top: 10px;
                    padding: 8px 24px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(293.51deg, #7050CB 19.42%, #FF01EB 73.36%);
                    }
                }
                
            }

            .view-history {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-top {
            flex: 1;
            border: 4px solid #2A2864;
            padding: 16px;
            margin-bottom: 16px;

            .title {
                margin-bottom: 16px;
            }

            .detail {
                margin-bottom: 8px;

                .sub-title {
                    color: #F001F4;
                }
            }

            .chart-option {
                flex-wrap: wrap;
                display: flex;
                justify-content: space-between;
                margin: 16px 0;

                .item-list {
                    .item {
                        padding: 8px;
                        cursor: pointer;
                        &:hover {
                            color: #F001F4;
                        }
                        &:active {
                            color: #F001F4;   
                        }
                        &:visited {
                            color: #F001F4;   
                        }
                    }
                }
            }

            svg {
                background: transparent !important;
            }
        }

        &-bottom {
            border: 4px solid #2A2864;
            padding: 16px;
            position: relative;

            .button {
                width: 75%;
                padding: 16px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%);
            }

            img {
                position: absolute;
                left: 75%;
                height: 100%;
                top: 0;
                transform: translate(-50%);
            }
        }
    }
}