$scale-var: 1600 / 2560;

.histroy {
	padding: 16px;
	align-items: center;
	padding-top: 18px * $scale-var !important;
	padding-bottom: 18px * $scale-var !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
	.history-table {
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: 5px;
		.data-header {
			color: white;
			font-size: 12px;
			font-family: Poppins-Light;
			background-color: #3C3C97;
			width: 100%;
			display: flex;
			div {
				white-space: nowrap;
			}
			.h-game {
				padding: 5px 20px;
				width: 12%;
			}
			.h-username {
				padding: 5px 20px;
				width: 12%;
			}
			.h-address {
				padding: 5px 20px;
				width: 14%;
			}
			.h-time {
				padding: 5px 20px;
				width: 20%;
			}
			.h-wager {
				padding: 5px 20px;
				width: 14%;
			}
			.h-multi {
				padding: 5px 20px;
				width: 14%;
			}
			.h-payout {
				padding: 5px 20px;
			}
		}
		.data-container {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 34px;
			overflow-y: auto;
			
			.history-table tr th , .text-blue{
				color: #5C52C6;
	
			}
			.history-cell {
				display: flex;
				width: 100%;
				&:nth-child(odd) {
					background-color: transparent !important;
				}
				&:nth-child(even) {
					background: linear-gradient(90deg, #3C3C97 4.22%, #363075 100%);
				}
				.data-item {
					color: white;
					vertical-align: middle;
					padding: 4px 20px;
					font-size: 12px;
					border-bottom: none !important;
					border-top: none !important;

				}
				.game {
					width: 12%;
				}
				.username {
					width: 12%;
				}
				.address {
					width: 14%;
				}
				.time {
					width: 20%;
				}
				.wager {
					width: 14%;
					.wager-container {
						
						display: flex;
						vertical-align: middle;
						align-items: center;
						p {
							margin: 0;
						}
						img {
							width: 20px;
							padding: 0;
							margin-right: 10px;
						}
					}
					
				}
				.mult {
					width: 14%;
					color: #78FF15;
				}
				.payout {
					color: #78FF15;
					display: flex;
					vertical-align: middle;
					align-items: center;
					p {
						
						margin: 0;
					}
					img {
						width: 20px;
						padding: 0;
						margin-right: 10px;
					}
				}
			}
			
			
		}
		
	}
	
}

