$scale-var: 1600 / 2560;

.players {
	padding: 16px;
	align-items: center;
	padding-top: 18px * $scale-var !important;
	padding-bottom: 18px * $scale-var !important;
	.title {
		color: #5C52C6;
		font-family: Nurom;
		font-weight: bold;
		font-size: 20px * $scale-var;
		margin-bottom: 22px * $scale-var;
		text-align: center;
	}

	.player-table {
		width: 100%;
		.players-table tr th , .text-blue{
			color: #5C52C6 !important;
		}
	
		.players-table .odd{
			background: linear-gradient(90deg, #3C3C97 4.22%, #363075 100%);
		}
		.players-table td{
			vertical-align: middle;
			padding: 4px 15px;
		}
		.players-table{
			border-collapse: separate;
			  border-spacing: 0 5px;
		}

		tr:nth-child(even) {
			background-color: transparent !important;
		}
	}
	
}

