$scale-var: 1600 / 2560;

.header {

   /* Rectangle 36 */

    position: fixed;
    width: 100%;
    height: 155px * $scale-var;

    /* Gradient Header */
    background: linear-gradient(270deg, #20315D 0%, rgba(24, 15, 37, 0.81) 12.97%);
    .logo {
        width: 148px * $scale-var;
        height: 155px * $scale-var;
        padding: 0;
    }
    .normal-group {
        position: absolute;
        left: 200px;
        width: 500px;
        transform: translateY(-50%);
        top: 50%;
    }
    .money-group {
        position: absolute;
        right: 200px;
        width: 500px;
        transform: translateY(-50%);
        top: 50%;
        .buy-now {
            display: flex;
            white-space: nowrap;
            box-sizing: border-box;
            img {
                width: 30px;
                height: 30px;
            }
        }
        .money-type {
            border: 2px solid #2A2662 !important;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            white-space: nowrap;
            font-family: Nurom;
            font-weight: bold;
            img {
                width: 30px;
                height: 30px;
            }
            .price {
                color: #F001F4;
                font-family: Nurom;
                font-weight: bold;
                .drop-icon {
                    stroke-width: 0.5px;
                    stroke: black;
                    color: #515189;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                }
                
            }
        }
        .select-net {
            display: flex;
            background-color: rgba(0, 0, 0, 0);
            .drop-icon {
                stroke-width: 0.5px;
                stroke: black;
                color: #515189;
                font-family: Nurom;
                font-weight: bold;
                font-size: 20px;
            }
            .net-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
    .buttons {
        height: 50px;
        display: flex;
        button {
            color: white;
            font-family: Nurom;
        }
        .purple {
            margin-left: 20px;
            text-align: center;
            color: white;
            font-family: Nurom;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%);
        }
        .image-back {
            margin-left: 20px;
            background-image: url("../../assets/images/playpage/background.png");
            background-color: rgba(42, 46, 104, 0.93);
            .mask {
                text-align: center;
                color: white;
                font-family: Nurom;
                width: 100%;
                height: 100%;
                background-color: rgba(42, 46, 104, 0.93);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
        }
    }
}