$scale-var: 1600 / 2560;
@media only screen and (min-width: 768px) {
    $scale-var: 768 / 2560;
}
@media only screen and (min-width: 1024px) {
    $scale-var: 1024 / 2560;
}
@media only screen and (min-width: 1600px) {
    $scale-var: 1600 / 2560;
}

.logo-header {
    background: linear-gradient(270deg, #20315D 0%, rgba(24, 15, 37, 0.81) 12.97%);
    position: fixed;
    left: 0px;
    right: 0%;
    height: 62px;
    .logo {
        width: 46px;
        height: 49px;
        margin-left: 48px;
        margin-top: 6px;
        @media only screen and (min-width: 1600px) {
            width: 148px * $scale-var;
            height: 155px * $scale-var;
            margin: 0;
        }
        padding: 0;
    }
    @media only screen and (min-width: 1600px) {
        height: 155px * $scale-var;
    }
}

.header {

   /* Rectangle 36 */

    position: fixed;
    left: 150px;
    right: 0%;

    height: 62px;
    z-index: 999;
    
    @media only screen and (min-width: 1600px) {
        height: 155px * $scale-var;
    }

    /* Gradient Header */
    //background: linear-gradient(270deg, #20315D 0%, rgba(24, 15, 37, 0.81) 12.97%);

    
    .button-group {
        button {
            margin-left: 5px;
        }
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        @media only screen and (min-width: 768px) {
            right: 30px;
        }
        @media only screen and (min-width: 1600px) {
            justify-content: space-between;
        }
        
        .normal-group {
            justify-content: flex-start;
            height: 50px * $scale-var !important;
            @media only screen and (min-width: 1600px) {
                height: 65px * $scale-var !important;
            }
            display: none;
            font-family: Nurom;
            
            
            button {
                width: 100px;
                font-size: 10px;

                @media only screen and (min-width: 1600px) {
                    font-size: 19px * $scale-var;
                }
            }
            .buy-monkey {
                width: 100px;

                @media only screen and (min-width: 1600px) {
                    width: 160px;
                }
                
                
            }
            .join-bankroll {
                width: 120px;
                font-size: 10px;

                @media only screen and (min-width: 1600px) {
                    width: 160px;
                    font-size: 19px * $scale-var;
                }
            }
            .leaderboard {
                width: 100px;
                @media only screen and (min-width: 1600px) {
                    width: 120px;
                }
            }
            .stats {
                width: 50px;

                @media only screen and (min-width: 1600px) {
                    width: 80px;
                }
            }
            .help {
                width: 50px;

                @media only screen and (min-width: 1600px) {
                    width: 80px;
                }
            }
            @media only screen and (min-width: 768px) {
                
            }
            @media only screen and (min-width: 1024px) {
                
            }
            @media only screen and (min-width: 1200px) {
                display: flex;
            }
        }
        .money-group {
            height: 50px * $scale-var !important;
            @media only screen and (min-width: 1600px) {
                height: 65px * $scale-var !important;
            }
            button {
                width: 100px;
                font-size: 10px;

                @media only screen and (min-width: 1600px) {
                    font-size: 19px * $scale-var;
                }
            }
            justify-content: flex-end;
            &.ph-show {
                display: flex !important;
            }
            &.wnd-show {
                display: none !important;
            }
            @media only screen and (min-width: 768px) {
                &.ph-show {
                    display: none !important;
                }
                &.wnd-show {
                    display: flex !important;
                }
            }
            display: flex;
            width: 1326px * $scale-var;
            .buy-now {
                
                align-items: center;
                white-space: nowrap;
                box-sizing: border-box;
                font-size: 18px * $scale-var;
                width: 120px;
                font-size: 10px;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 3px;
                }
                
            }
            .money-type {
                width: 118px;
                height: 100%;
                border: 2px solid #2A2662 !important;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0);
                white-space: nowrap;
                font-family: Nurom;
                font-weight: bold;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                .type {
                    font-size: 10px;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
                .price {
                    color: #F001F4;
                    font-family: Nurom;
                    font-weight: bold;
                    font-size: 10px;
                    .drop-icon {
                        stroke-width: 1px;
                        stroke: black;
                        color: #515189;
                        font-size: 10px;
                        width: 14px;
                        height: 14px;
                    }
                    
                }
                @media only screen and (min-width: 1024px) {
                    width: 160px * $scale-var;
                    display: flex;
                    .type {
                        font-size: 12px;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    .price {
                        color: #F001F4;
                        font-family: Nurom;
                        font-weight: bold;
                        font-size: 12px;
                        .drop-icon {
                            stroke-width: 1px;
                            stroke: black;
                            color: #515189;
                            font-size: 10px;
                            width: 14px;
                            height: 14px;
                        }
                        
                    }
                }
                @media only screen and (min-width: 1600px) {
                    width: 263px * $scale-var;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    .type {
                        font-size: 24px * $scale-var;
                    }
                    .price {
                        font-size: 24px * $scale-var;
                        .drop-icon {
                            font-size: 21px * $scale-var;
                            width: 20px;
                            height: 20px;
                        }
                        
                    }
                }
            }
            .deposit {
                width: 60px;
                font-size: 10px;
                
                @media only screen and (min-width: 1024px) {
                    font-size: 12px;
                    width: 70px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                @media only screen and (min-width: 1600px) {
                    font-size: 24px * $scale-var;
                    width: 204px * $scale-var;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .withdraw {
                
                width: 70px;
                font-size: 10px;
                
                @media only screen and (min-width: 1024px) {
                    font-size: 12px;
                    width: 80px;
                }
                @media only screen and (min-width: 1600px) {
                    font-size: 24px * $scale-var;
                    width: 204px * $scale-var;
                }
            }
            .select-net {
                width: 60px;
                display: flex;
                align-items: center;
                background-color: rgba(0, 0, 0, 0);
                .drop-icon {
                    stroke-width: 0.5px;
                    stroke: black;
                    color: #515189;
                    font-family: Nurom;
                    font-weight: bold;
                    display: none;
                }
                .net-icon {
                    margin-left: 3px;
                    width: 23px;
                }
                @media only screen and (min-width: 1024px) {
                    font-size: 12px;
                    width: 60px;
                    .drop-icon {
                        font-size: 14px;
                        display: block;
                    }
                    .net-icon {
                        font-size: 20px;
                    }
                }
                @media only screen and (min-width: 1600px) {
                    font-size: 24px * $scale-var;
                    width: 94px * $scale-var;
                    .drop-icon {
                        font-size: 14px;
                        display: block;
                    }
                    .net-icon {
                        width: 51px * $scale-var;
                        font-size: 20px;
                    }
                }
            }
            .wallet-address {
                width: 100px;
                height: 100%;
                font-size: 10px;
                display: block;
                @media only screen and (min-width: 1024px) {

                }
                @media only screen and (min-width: 1600px) {
                    width: 204px * $scale-var;
                    font-size: 19px * $scale-var;
                }
            }
            .dark-blue {
                background-color: #2A2662;
                color: #F001F4;
            }
            .plus {
                width: 30px;
                height: 30px;
            }
            .minus {
                width: 30px;
                height: 30px;
            }
        }
    }
    .buttons {
        //height: 50px;
        
        
        button {
            color: white;
            font-family: Nurom;
            position: relative;
        }
        .purple {
            text-align: center;
            color: white;
            font-family: Nurom;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%);
        }
        .image-back {
            background-image: url("../../assets/images/playpage/background.png");
            background-color: rgba(42, 46, 104, 0.93);
            .mask {
                
                width: 100%;
                height: 100%;
                background-color: rgba(42, 46, 104, 0.93);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                span {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    font-size: 17px * $scale-var;
                    text-align: center;
                    color: white;
                    font-family: Nurom;
                }
            }
        }
    }
    .relative {
        position: relative;
    }
    
    .absolute {
        position: absolute;
    }
    
    .drop-profile-section{
        background-color: #1C1C40;
        width: 100%;
        display: block;
        padding: 4px;
        margin: 4px;
        align-items: center;
        gap: 10px;
    }
    
    .c-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: white;
        margin-bottom: 8px;
        padding: 5px;
        cursor: pointer;
    }
    
    .hidden {
        display: none !important;
    }
    
    .show {
        display: block !important;
    }
    
    .dropdown-profile {
        right: 0;
        background-color: #1C1C40;
    }
    
    .drop-profile-section{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .dropdown-profile .dropdown-item{
        color: white;
        margin-bottom: 1.3rem;
        font-weight: bold;
        background-color: transparent !important;
        transition: 0.2s all ease-in-out;
        padding: 0px;
    }
    .dropdown-profile .dropdown-item:last-child{
        margin-bottom: unset !important;
    }
    .dropdown-profile .dropdown-item:hover{
        color: #cfcfcf;
    }
    
    .dropdown-profile{
        margin-top: 8px;
        padding: 2rem;
        border-radius: 0.5rem;
    }
    .dropdown-profile .dropdown-item img{
        filter: hue-rotate(316deg) contrast(0.25);
    }
    .dropdown-profile .dropdown-item:hover img{
        filter: unset;
    }
    
    .mr-2 {
        margin-right: 8px;
    }
}

