.withdraw-modal {
    .modal-dialog {
        max-width: 500px !important;
        .withdraw-amount {
            text-align: center !important;
        }
        .max-btn {
            margin-left: 20px;
        }
        .view-history-btn {
            text-align: center;
        }
    }
}