.footer {
    color: white;
    border: 2px solid #322C76;
    padding: 16px;
    display: none;
    flex-direction: column;
    @media only screen and (min-width: 768px)
    {
        border: 4px solid #322C76;
        display: flex;
    }
    @media only screen and (min-width: 1024px)
    {
        border: 4px solid #322C76;
        display: flex;
    }
    &-logo {
        width: 70%;
        img {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    
    &-info {
        margin-top: -24px;
        display: flex;
        flex-direction: column;
        width: 75%;
    }
}