.deposit-modal {
    .modal-dialog {
        max-width: 500px !important;
        .deposit-amount {
            text-align: center !important;
        }
        .max-btn {
            margin-left: 20px;
        }
        .recent-transaction-history {
            div {
                font-family: Poppins-Light;
            }
        }
    }
}

