.input-container {
    position: relative;
    width: 100px;
    color: white;
    .md-form.md-bg input[type="text"], .md-form.md-bg input[type="password"], .md-form.md-bg input[type="email"], .md-form.md-bg input[type="url"], .md-form.md-bg input[type="time"], .md-form.md-bg input[type="date"], .md-form.md-bg input[type="datetime-local"], .md-form.md-bg input[type="tel"], .md-form.md-bg input[type="number"], .md-form.md-bg input[type="search-md"], .md-form.md-bg input[type="search"], .md-form.md-bg textarea.md-textarea {

        background-size: 0 2px, 100% 0px;
    }
    .md-form {
        margin-top: 0;
        margin-bottom: 0;
        label {
            font-size: 12px !important;
        }
    }
    .input-field {
        color: white;
        width: 100%;
        background-color: transparent;
        border: none;
        padding-left: 20px;
    
        &:focus-visible {
            outline: none;
        }
    }

    .input-prefix {
        position: absolute;
        left: 10px;
        top: 26px;
    }
}