$scale-var: 1600 / 2560;

.chat-and-history {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    .left-nav {
        margin: 0 !important;
        padding: 0 !important;
        width: 71px * $scale-var;
        .nav-item {
            width: 100%;
            height: 214px * $scale-var;
            a {
                background-color: #363663;
                color: white;
                height: 100%;
                cursor: pointer;
                border-radius: 0;
                text-align: center;
                position: relative;
                font-family: Nurom;
                font-size: 27px * $scale-var;
                font-weight: bold;
                div {
                    writing-mode: tb-rl;
                    transform: translate(-50%, -50%) rotate(180deg);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    svg {
                        vertical-align: middle;
                        transform: rotate(90deg);
                        margin: 0;
                        font-size: 27px * $scale-var;
                        margin-bottom: 5px;
                        margin-left: 2px;
                    }
                }
            }
            .active {
                background-color: #E245E5;
                color: white;
            }
            
        }
        .setting {
            background-color: #131324;
            color: #5C52C5;
            width: 71px * $scale-var;
            height: 71px * $scale-var;
            position: relative;
            svg {
                width: 60%;
                height: 60%;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }
        }
    }
    .tab-content {
        position: absolute;
        overflow: hidden;
        left: 71px * $scale-var;
        top: 0;
        right: 0;
        bottom: 0;
        .tab-pane {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
        }
        .active {
            visibility: visible;
        }
    }
}