.earning-container {
    padding: 20px 40px;
    color: white;

    .gradient-btn {
        padding: 8px 16px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(293.51deg, #7050CB 19.42%, #FF01EB 73.36%);
        cursor: pointer;
        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(293.51deg, #7050CB 19.42%, #FF01EB 73.36%);
        }
    }

    .text-sm {
        font-size: 12px;
    }

    .container-title {
        font-size: 20px;
    }
    
    .pink-font {
        color: #F001F4;
    }

    &-title {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .sub-container {
        border: 4px solid #322C76;
        padding: 20px;
        margin-bottom: 20px;

    }

    .nft_container {
        justify-content: start !important;
    }

    .staking-container {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            align-items: center;
            justify-content: start;
            margin: 16px;
            flex-wrap: wrap;
            &-btns {
                display: flex;
                .gradient-btn {
                    
                }
                .first {
                    margin-right: 16px;
                }
            }
            &-collection {
                width: 20%;
                margin: 20px;

                &-font {
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                }

                &-image {
                    width:100%;
                    opacity: 0.9;
                    border-radius: 10px;
                    &:hover {
                        opacity: 1;
                    }
                }

                &-btn {
                    margin-top: 10px;
                    text-align: center;
                    border-radius: 10px;

                    &:hover {
                        cursor: pointer;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(293.51deg, #7050CB 19.42%, #FF01EB 73.36%) !important;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .assets-container {
        &-title {
            margin-bottom: 16px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            
            &-part {
                display: flex;
                margin-bottom: 16px;
                
                &-item {
                    display: flex;
                    width: 50%;
                    
                    .right {
                        flex: 1;
                    }
                }
            }
        }
    }

    .airdrop-container {
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
        }
        
        &-middle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
        
        &-status {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            flex-wrap: wrap;
            .item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .title {
                    margin-bottom: 8px;
                }

                .value {
                    display: flex;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                    }

                    div {
                        background: rgba(33, 30, 58, 0.87);
                        border: 3px solid #322C76;
                        padding: 4px 16px;
                        margin-left: 8px;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
        }
    }

    .chart-container {
        .nav-tabs {
            border-bottom: 0;
            .nav-item {
                .nav-link {
                    padding: 0;
                    padding-right: 20px;;
                    color: white;
                    border: none;
                    font-size: 20px;
                    &.active {
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        &-top {
            display: flex;
            margin-bottom: 16px;

            .stats {
                margin-left: 32px;
            }
        }

        &-select {
            .dropdown button {
                background-color: transparent;
                border: 1px solid #515189;
                color: white;
            }
    
            .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
                background-color: transparent;
                border: 1px solid #515189;
            }
        }

        svg {
            background: transparent !important;
        }
    }
}